
/* ---------------Application--------------- */
.App {
  text-align: center;
}



/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30vmin;
} */

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ---------------Courses/Classes--------------- */


.grid-container {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  grid-template-rows: 33.333% 33.333% 33.333%;
  grid-template-areas: "Image Detail-1 Detail-2 ." "Image Detail-3 Detail-4 Button" "Image Description Description Place";
  width: 90%;
  height: 15rem;
  background-color: cadetblue;
  
}

.image { 
  grid-area: Image;
  background-color: indianred;
  position: relative;
  text-align: center;
}

.image img {
  width: 100%;
  height: -webkit-fill-available;
}

#centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
}

/* ---------------Details--------------- */

.detail-1 {
  grid-area: Detail-1;
}

.detail-2 { 
  grid-area: Detail-2; 
}

.detail-3 { 
  grid-area: Detail-3; 
}

.detail-4 { 
  grid-area: Detail-4; 
}

.description { 
  grid-area: Description; 
}

.button { 
  grid-area: Button; 
}

.place { 
  grid-area: Place; 
}

.all-det li, span {
  list-style-type: none;
  font-family: monospace;
  font-size: large;
}

#bold {
  font-weight: 600;
}

a {
  color: orange;
  text-decoration: none;
}

a:visited {
  color: orange;
}

button {
  background-color: orange;
  color: white;
  font-size: smaller;
  border: none;
  width: 60%;
  height: 40%;
  border-radius: 0.5rem;
}